<!DOCTYPE html>
<html lang="en">
<head>
  <title>Library System</title>
 
  
  <link rel="stylesheet" type="text/css" href="/style.css">
  
</head>
<body>
  
    const user = <%- JSON.stringify (user) %>;
    


    <% if (user.role === 'admin') { %>
        <%- include('partials/navbar_admin') %>
      <% } else if (user.role === 'librarian') { %>
        <%- include('partials/librariannavbar.ejs') %>
      <% } else if (user.role === 'customer') { %>
        <%- include('partials/usernavbar.ejs') %>
      <% } %>
    
    
  <div class="content">
     
  </div>
</body>
</html>
