<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/dbca9b5a6b.js" crossorigin="anonymous"></script>
  <title>Library System</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

    <% if (user.role_id.role_description === 'guest') { %>
        <%- include('partials/guestnavbar.ejs', { activePage, user }) %>
    <% } else if (user.role_id.role_description === 'librarian') { %>
        <%- include('partials/librariannavbar.ejs', { activePage, user }) %>
    <% } else if (user.role_id.role_description === 'customer') { %>
        <%- include('partials/usernavbar.ejs', { activePage, user }) %>
    <% } else if (user.role_id.role_description === 'manager') { %>
        <%- include('partials/managernavbar.ejs', { activePage, user }) %>
    <% } %>

</body>
</html>
