<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/dbca9b5a6b.js" crossorigin="anonymous"></script>
  <title>Library System</title>
 
  
  <link rel="stylesheet" type="text/css" href="/style.css">
  
</head>
<body>

    <% if (user.role === 'admin') { %>
        <%- include('partials/navbar_admin') %>
      <% } else if (user.role === 'librarian') { %>
        <%- include('partials/librariannavbar.ejs') %>
      <% } else if (user.role === 'customer') { %>
        <%- include('partials/usernavbar.ejs') %>
      <% } %>
    
    
  <div class="content">
     
  </div>
  
</body>
</html>
