<div class="navbar"></div>
    <a href="/accountant/dashboard?_id=<%= user._id %>" class="<%= (typeof activePage !== 'undefined' && activePage === 'dashboard') ? 'active' : '' %>">Dashboard</a>
    <a> Finance</a>
    
    
    <a href="/">Logout</a>
  </div>