<div class="navbar">
    <a href="/user/dashboard" class="active">Dashboard</a>
    <a href="/landingpage/registration">Register</a>
    <a href="/user/profile">profile</a>
    <a href="/user/login">Login</a>
  </div>