<div class="navbar">
    <a href="/branch_librarian/dashboard?_id=<%= user._id %>" class="<%= (typeof activePage !== 'undefined' && activePage === 'dashboard') ? 'active' : '' %>">Dashboard</a>
    <a href="/branch_librarian/librarianInventory?_id=<%= user._id %>" class="<%= (typeof activePage !== 'undefined' && activePage === 'inventory') ? 'active' : '' %>">Update Media</a>
    <a href="/">Logout</a>
  </div>