<nav class="sidebar">
    <ul>
        <li><a href="/user/profile/?_id=<%= user._id %>" class="<%= (typeof activePage !== 'undefined' && activePage === 'profile') ? 'active' : '' %>">Update Details</a></li>
    </ul>
</nav>