<div class="navbar">
    <a href="/branch_librarian/dashboard" class="active">Dashboard</a>
    <a href="/branch_librarian/librarianInventory">Update Media</a>
    <a href="/user/borrowed-items">Borrowed Items</a>
    <a href="/">Logout</a>
  </div>