<div class="navbar">
    <a href="/user/dashboard" class="active">Dashboard</a>
    <a href="/user/profile">Profile</a>
    <a href="/user/borrowed-items">Borrowed Items</a>
    <a href="/user/inventory">All Media!</a>
    <a href="/">Logout</a>
  </div>