<script>
    console.log("REached the view file");
</script>
<!DOCTYPE html>
<script>
    console.log("Gooten past doctype");
</script>
<html>
    <script>
        console.log("Reached the html tag");
    </script>
<h1>Welcome to your Dashboard, username</h1>
<p>Navbar with stuff</p>
<p>Profile info</p>
<p>Your borrowed items:</p>
<ul>
    
    <li>items borrowed</li>
  
</ul>
</html>