<!DOCTYPE html>
<html>

<h1>Welcome to your board, username.</h1>

 
<%- include('../layout.ejs', { user}) %>

<p>Profile info</p>
<p>Your borrowed items:</p>
<ul>
    <li>items borrowed</li>
</ul>
</html>

