
<html>

<h1>Welcome to your oard, username</h1>
=======
 
<%- include('../layout.ejs', { navbar: 'usernavbar'}) %>


<p>Profile info</p>
<p>Your borrowed items:</p>
<ul>
    <li>items borrowed</li>
</ul>
</html>

