<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Dashboard</title>

</head>
<body>
    <p>Your role is: <%= user.role %></p>
<%- include('../layout.ejs', { user }) %>

<main>
    <h1>Welcome to your board, <%= user.name %>.</h1>
    <p>Your Library Page</p>
    <p>Your borrowed items:</p>
    <ul>
        <li>Items borrowed</li>
    </ul>
    <a href="profile">
        <div class="profile-circle">
            <i class="fa-solid fa-user fa-2xl"></i>
        </div>
    </a>

</main>

<footer>
    <p>Phone No : 07477045595</p>
    <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-xl" style="color: rgb(203, 67, 203)"></i></a> |
    <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a> |
    <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter fa-xl" style="color: black"></i></a>
</footer>

</body>
</html>
