<script>
    console.log("REached the view file");
</script>
<!DOCTYPE html>
<script>
    console.log("Gooten past doctype");
</script>
<html>
<<<<<<< HEAD
<h1>Welcome to your oard, username</h1>
=======
    <script>
        console.log("Reached the html tag");
    </script>
<h1>Welcome to your Dashboard, username</h1>
>>>>>>> 2794ca83bf3551fdb791b8b69b7da1d1806e19f9
<p>Navbar with stuff</p>
<p>Profile info</p>
<p>Your borrowed items:</p>
<ul>
    <li>items borrowed</li>
</ul>
</html>