<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media   
 Page</title>
     </head>
<body>
    <%- include('../layout.ejs', { user }) %>
    <div class="container">
        <div class="header">
            <input type="text" placeholder="Search bar">
            <button>Filter</button>
            <button>Filter</button>
        </div>
        <div class="media-section">
            <div class="media-image">
                <h1>HERE WILL BE IMAGE OF MEDAI MAYBE??</h1>
            </div>
            <div class="media-details">
                <h2>MEDIA DESC</h2>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,   
 no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna   
 aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna   
 aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,   
 no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <div class="genre-tags">
                    <span class="tag">Genre 1</span>
                    <span class="tag">Genre 2</span>
                    </div>
                <div class="buttons">
                    <button>Add to wishlist</button>
                    <button>Borrow Media</button>
                </div>
            </div>
        </div>
        <button class="back-button">Back</button>
    </div>
</body>
</html>