<!DOCTYPE html>
<html>
<head>
  <title>Landing Pag</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../layout.ejs', { user}) %>

  <h1>Welcome to the Library System</h1>
  <p>Discover media, borrow and return easily.</p> 
  <form action="/user/dashboard" method="GET">
    <input type="hidden" name="user_id" value="672a90e2211aef12e04c0067"> 
    <button type="submit">Go to Dashboard</button>
  </form>
      <form action="/branch_librarian/dashboard" method="GET">
    <button type="submit">Go to Librarina Dashboard</button>
    </form>

</body>
</html>
