<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../layout.ejs', { user}) %>

  <h1>Welcome to the Library System</h1>
  <p>Discover media, borrow and return easily.</p> 
  <form action="/user/dashboard" method="GET">
    <button type="submit">Go to Dashboard</button>
    </form>
      <form action="/branch_librarian/dashboard" method="GET">
    <button type="submit">Go to Librarina Dashboard</button>
    </form>

  <!-- You can add navigation links or buttons 
  <a href="/user/login">Login</a>
  <a href="/media/search">Search Media</a>
-->
</body>
</html>
