<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <!-- Include layout (header or top navigation) -->
    <%- include('../layout.ejs', { user }) %>

    <!-- Profile Page Container with Sidebar and Main Content -->
    <div class="profile-page">
        <!-- Main Content Area -->
        <main class="content">
            <div class="header-container">
                <h1>Login</h1>
            </div>
            <div class="form-container-login">
                <form id="profileForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Enter</button>
                </form>
                <div id="confirmationMessage"></div>
            </div>
        </main>
    </div>
    
    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p class="footer-number">07477045595</p>
            <div class="footer-links">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
                <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
