<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <%- include('../layout.ejs', { user }) %>

    <!-- Profile Page Container with Sidebar and Main Content -->
        <main class="content">
    <div class="header-container">
        <h1>Register</h1>
    </div>
    <div class="form-container-login">
        <form id="profileForm" action="/landingpage/register" method="post">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="first_name" required>
            </div>
            <div class="form-group">
                <label for="secondName">Second Name</label>
                <input type="text" id="secondName" name="last_name" required>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" name="date_of_birth" required>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="tel" id="phoneNumber" name="phone_no" required pattern="[0-9]{10,15}">
            </div>
            <input type="hidden" name="branch_id" value="672a8c69211aef12e045691b"> <!-- replace with chosen branch ID -->
            <input type="hidden" name="role_id" value="673c99d525991e256b992928"> <!-- Replace with actual role ID -->
            <button type="submit">Register</button>
        </form>
        <div id="confirmationMessage"></div>
    </div>
</main>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p class="footer-number">07477045595</p>
            <div class="footer-links">
                <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
                <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>
